@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300&family=Inconsolata:wght@200&family=Poppins:ital,wght@1,100&display=swap');

body{
	background: #B4CFB0;
	padding: 0;
	margin: 0;
	font-family: 'Anek Tamil', sans-serif;
}

h1{
	color: #94B49F;
	font-size: 5vh;
	font-weight: bold;
	text-align: center;
}

a{
	text-decoration: none;
	color: #94B49F;
	font-size: 2vh;
	font-weight: bold;
	display: flex;
	padding: 2vw 2vw 2vw 2vw;
	margin: 5vw;
	background: #E5E3C9;
	border-radius: 10%;
	justify-content: center;
	/*box-shadow: 
		inset 10px 5px 5px rgb(149, 209, 204,0.25),
		inset -10px 0px 5px rgba(250, 255, 175, 0.20);*/
}

.container{
	position: relative;
	align-content: center;
	padding: 10% 30% 30% 30%;
}

a:hover{
	border-radius: 10%;
	border: 0.4vh solid #94B49F;
}
