*{
    margin: 0;
    padding: 0;
}

/*Estilos animación cubo 3d*/
.box{
    width: 40vw;
    height: 40vw;
    position: fixed;
    left:0;right:0;
    top:0;bottom:0;
    margin:auto;
    transform-style: preserve-3d;
    transform:rotateX(40deg) rotateY(40deg);
    animation: donghua 5s  infinite;
    animation-timing-function:linear;
}

.box:hover{
    animation-play-state: paused;
}

.box div{
    width: 40vw;
    height: 40vw;
    position: absolute;
    left: 0;top: 0;
    font-weight: bolder;
    font-size: 10vw;
    text-align: center;
    line-height: 40vw;
    color: black;
    backface-visibility: hidden;
}

.box1{
    background: pink;
    transform: translateX(20vw) rotateY(90deg);
    background-size: cover;
}

.box2{
    opacity: 0.5;
    background: orange;
    transform: translateX(-20vw) rotateY(-90deg);
    background-size: cover;
}

.box3{
    opacity: 0.5;
    background: greenyellow;
    transform: translateY(-20vw) rotateX(90deg);
    background-size: cover;
}

.box4{
    opacity: 0.5;
    background: gray;
    transform: translateY(20vw) rotateX(-90deg);
    background-size: cover;
}

.box5{
    opacity: 0.5;
    background: rosybrown;
    transform: translateZ(20vw);
    background-size: cover;
}

.box6{
    opacity: 0.5;
    background: burlywood;
    transform: translateZ(-20vw) rotateX(180deg);
    background-size: cover;
}

@keyframes donghua{
    0%{
        transform:rotateX(0deg) rotateY(0deg);
    }
    25%{
        transform: rotateX(90deg) rotateY(90deg);
    }
    50%{
        transform: rotateX(180deg) rotateY(180deg);
    }
    75%{
        transform: rotateX(270deg) rotateY(270deg);
    }
    100%{
        transform:rotateX(360deg) rotateY(360deg);
    }
}